/**********重置部分样式************/
body{
	background-color: #DCDCDB;
}
li{
	list-style: none;
}
.container{
	background-color: #FFF;
	font-family: "Helvetica Neue",Helvetica,sans-serif,Arial;
}


/***********头部导航**************/
.header{
	position: relative;
}
.top-nav{
	position: absolute;
	top: 15px;
	left: 0;
	width: 100%;
	height: 38px;
	background: url(../images/back/nav_bg.png) repeat-y #444;
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	z-index: 9999;
}
.top-nav .container{
	position: relative;
}
.top-nav .logo{
	background: url(../images/logo.png) no-repeat;
	_background: url(../images/logo.gif) no-repeat;
	position: absolute;
	top: -17px;
	left: 90px;
	width: 240px;
	height: 70px;
}

.top-nav .nav-items{
	float: right;
	margin: 0;
	padding: 0;
}
.top-nav .nav-items .item{
	float: left;
	width: 87px;
	text-align: center;
	list-style: none;
}
.top-nav .nav-items li.online-mall{
    background: url("../images/cart.jpg") no-repeat scroll 16px 6px #C7000A;
    padding-left: 36px;
    text-align: left;
    width: 150px;
}
.top-nav .nav-items .item a{
	display: inline-block;
	line-height: 38px;
	padding: 0 8px;
	font-size: 13px;
	color: #FFF; 
}


/**********头部幻灯****************/
.top-gallery .image-list{
	position: relative;
	height: 378px;
	margin: 0;
}
.top-gallery .image-list li{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
}
.top-gallery .image-list li.focus{
	display: block;
	z-index: 999;
}
/********头部搜索***********/
.top-search-box{
	background: url(../images/back/func_white_bg.jpg) 0 -4px no-repeat;
	height: 50px;
}
.top-search-box .grid7{
	float: left;
	width: 505px;
	margin-left: 20px;
	_margin-left: 10px;
}
.top-search-box .grid5{
	float: left;
	margin: 0;
}
.top-search-box .grid5 form{
	margin: 5px 0 0;
}
.top-search-box .search-tags{
	padding-left: 95px;
	margin: 10px 0;
}
.top-search-box .search-tags dt,.top-search-box .search-tags dd{
	float: left;
	padding-left: 30px;
	width: 80px;
	margin: 0;	
}
.top-search-box .search-tags dt label{
	cursor: default;
	color: #AA2441;
	font-weight: bold;	
}
.top-search-box .search-tags dd{
	width: 62px;
}
.top-search-box .search-tags dd a{
	color: #444;
	font-size: 12px;
	font-weight: bold;	
}
.top-search-box .search-tags dd a:hover{
	text-decoration: none;
	color: #000;
}
.top-search-box .search-input{
	padding: 4px 6px;
}
.top-search-box .search-btn{
	_width: 20px;
	font-family: sans-serif;
	font-weight: bold;
	vertical-align: top;
	margin: 0 6px;
}

/********新闻面板********/
.news-board{
   background: url("../images/back/dash_board.jpg") no-repeat scroll 0 0 transparent;
    height: 262px;
    margin: 15px auto 0;
    padding: 55px 15px 0;
    width: 772px;
}
.news-board .news-text{
    float: left;
    font-size: 12px;
    height: 220px;
    overflow: hidden;
    padding: 0 20px;
    width: 162px;
}
.news-board .news-text h4{
    background: url("../images/sprites.gif") no-repeat scroll 0 -50px transparent;
    padding-left: 18px;
    margin: 0 0 10px;
}
.news-board .news-text p{
    background: url("../images/sprites.gif") no-repeat scroll 0 -71px transparent;
    overflow: hidden;
    padding-left: 10px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.news-board .news-text p a{
	color: #444;
}
.news-board .news-image{
	float: left;
}
.news-board .contact-me{
    float: left;
    padding-left: 25px;
    width: 208px;
}
.news-board .contact-me p{
  padding: 46px 0 0 6px;
}
.news-board .contact-me p label{
    display: inline;
    font-weight: bold;
    font-size: 12px;
}
.news-board .contact-me p strong{
 	font-size: 18px;
}
.news-board .contact-me a{
    display: block;
    height: 45px;
    width: 200px;
}

/**************底部**************/
.footer{
    position: relative;
    background: url("../images/back/footer_bg.jpg") repeat-x scroll 0 0 transparent;
    border-radius: 0 0 10px 10px;
    border: 1px solid #EDEDED;
    border-style: none solid solid;
    height: 120px;
    margin: 0 auto 25px;
    padding-top: 1em;
    text-align: center;
    top: -6px;
    width: 772px;
}
.footer p a{
    padding: 0 6px;
    color: #888;
    font-size: 11px;
    letter-spacing: -1px;
}
.footer p a:hover{
	color: #888;
}
.footer .domain-info{
	position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    width: 96%;
    margin: 0 15px;   
    color: #888888;
    text-align: left;
}
.footer .domain-info label{
	display: inline;
	 margin-right: 25px;
}
.footer .domain-info label span{
	padding:0 2px;
	color: #222;
}
.footer .weibo-focus{
    position: absolute;
    right: -3em;
    top: 0;
}
/*********公司简介*********/
.profile-wrap{
	width: 792px;
	margin: 80px auto 0;
}
.site-map{
	text-align: right;
	font-size: 1em;
	border-bottom: 1px solid #EEE;
}
.site-map a{
	color: #000;
	padding:0 2px;
}
.site-map .right-arrow{
	font-size: 18px;
	color: #888;
	vertical-align: middle;
}
.site-map .red{
	color: #AE0405;
}

/******公司简介导航********/
.profile-wrap .profile-box{
	min-height: 500px;
	_height: 500px;
}
.profile-box .left-nav{
    background: url("../images/back/left_nav_bg.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 458px;
    width: 120px;
    color: #FFF;
    text-align: center;
}
.profile-box .left-nav dt{
    color: #FFFFFF;
    font-size: 22px;
    margin: 20px 0 12px;
}
.profile-box .left-nav dd{
    height: 32px;
    margin: 0;
    padding-left: 20px;
    text-align: left;   
}
.profile-box .left-nav dd.focus{
	background: url(../images/back/focus_bg_black.gif) 12px 0 no-repeat;
}
.profile-box .left-nav dd a{
	color: #FFF;
	font-weight: bold;
}
.profile-box .document{
	margin-left: 140px;
	text-align: center;
	padding:0 0 20px;
}
.profile-box .document .top-title{
	background: url(../images/back/top_title_bg.jpg) no-repeat;
	text-align: left;
	height: 30px;
	padding-left: 52px;
	color: #FFF;
	line-height: 28px;
	margin-bottom: 5px;
}
.profile-box .document h3{
    color: #BD0430;
    margin: 0;
    padding: 10px 1em;
}
.profile-box .document p{
	color: #444;
	line-height: 2;
    text-indent: 2em;
    text-align: left;
}
.profile-box .document .box-border{
	border: 2px solid #CCC;
	padding: 5px;
	border-radius: 4px;
}
.profile-box .document .product-pic-list{
	font-size: 0;
	text-align: left;
}
.product-pic-list .item{
	display: inline-block;
	*display: inline;
	*zoom:1;
	margin: 10px 5px 0px;
}
 .product-pic-list .thumb-pic, .product-pic-list .normal-pic{
	display: block;
	background: #ccc;
	width: 200px;
	height: 205px;
	vertical-align: middle;
	padding: 10px 0;	
	border: 1px solid #888;
	border-radius: 5px;
	text-align: center;
}
 .product-pic-list .normal-pic{
	height: 280px;
}
 .product-pic-list .thumb-pic span, .product-pic-list .normal-pic span{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}
.product-pic-list .item h6{
	text-align: center;
}
.product-pic-list .item h6 a{
	color: #666;
}
/***********新闻列表***************/
.news-list{
	padding: 0;
	margin: 0;
}
.news-list li{
	border-bottom: 1px solid #DDD;
	text-align: left;
	padding: 0 10px;
	height: 30px;
	line-height: 28px;
}
.news-list li a{
	color: #666;
}
/*产品搜索*/
.profile-box .document form.pull-right{
	margin-top: 15px;	
}

/**********产品列表***************/
.product-list{
	margin-bottom: 15px;
}
.product-list .item{
	display: inline-block;
	*display: inline;
	*zoom:1;
	margin: 10px 5px 0px;
}
.product-list .item a.normal-pic{
	display: block;
	width: 200px;
}
.product-list .item a.normal-pic img{
	width: 200px;
}
.product-list .item a.large-pic img{
	max-width: 200px;
}
.product-list .item .info{
	margin: 5px 0;
	color: #666;
}

/**********产品介绍***************/
.product-box{
	position: relative;
	width: 652px;
	color: #FFF;
	overflow: hidden;
}
.product-box .product-info{
	background: #000;
	position: absolute;
	height: 100%;
	right: -272px;
	top: 0;
	opacity: 0.5;
	filter:alpha(opacity=50);
}

.product-info .info-title{
	float: left;
	height: 100%;
	width: 16px;
	font-size: 16px;
	font-weight: bold;	
	padding: 0 8px;
}
.product-info .info-title span{
	line-height: 28px;
}
.product-info .info-content{
    border-left: 2px solid #FFFFFF;
    float: left;
    height: 100%;
    padding: 0 10px;
    text-align: left;
    width: 250px;
    overflow: hidden;
}
.product-info .info-content p{
	color: #FFF;
}
.product-info .info-content p{
    height: 85px;
    line-height: 1.5em;
    overflow: hidden;
}
/**********分页pagenation*********/
.pagenation{
	margin: 50px 0 10px;
	text-align: right;
}
.pagenation input.input-page{
	width: 20px;
}